@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    @apply bg-main_bg text-white;
}

h2 {
    @apply font-normal text-5xl;
}

.content {
    @apply max-w-[1400px] mx-auto w-[90%];
}

.container {
    @apply bg-white rounded-2xl;
}
